<!DOCTYPE html>
<html lang="ru/en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <title>My Very First Project</title>
  </head>
  <body>
      <div class="header">
        <div class="logo">
          <a href="/"><img src="/css/images/logo.png"/></a>
        </div>
        <div class="navbar">
        <ul class="dropdown">
          <li class="dropdown-top">
            <a class="dropdown-top" href="/profile">Profile</a>
            <ul class="dropdown-inside">
              <li> <a href="/profile"> My interests </a> </li>
              <li> <a href="/recommendation"> Reccomendations </a> </li>
            </ul>
          </li>
          <li class="dropdown-top">
            <a class="dropdown-top" href="/"> General </a>
          </li>
          <li class="dropdown-top">
            {% if LOGINED == False %}
            <a class="dropdown-top" href="/login"> Log in </a>
            {% else %}
            <a class="dropdown-top" href="/login"> Log out </a>
            {% endif %}
          </li>
        </ul>
        </div> <!-- HEADER -->
      </div>
      <div class="help"> 
      </div>       <!-- CONTENT -->
      <div class="content">
        <p></p>
      </div>
      <div class="footer">
        <div class="links">
          <p> Follow us on: </p>
          <p>
          <a href="http://vk.com/alexander_proskuryakov"> Vk </a>
          <a href="http://www.facebook.com/profile.php?id=100004447115917"> Facebook </a>
          <a href="http://twitter.com/Alexander_Pros"> Twitter </a>
          </p>
        </div>
        <div class="copyright">
          <p> @Copyright - All rights reserved</p>
        </div>
      </div>
  </body>
</html>
