{% extends "/pattern.html" %}
{% block content %}
	<p><h3>Данный сервис позволяет любителям путешествовать получать рекомендации для следующих поездок на основе уже посещённых/понравившихся стран и опыта других пользователей ресурса.</h3></p>
{% endblock %}
