{% extends "/pattern.html" %}
{% block content %}
  <form action="/saveinterests" method="post">
	  <lable><h3>Здесь Вы можете отметить страны, которые Вам понравились, чтобы мы могли построить для Вас более качественные рекомендации.</h3></lable>
    {% set i = 1 %}
    {% for c in countries %}
      <div class="country">
        <input name="checkes" type="checkbox" value="{{ i }}"
               {{ "checked" if c[1] == 1 else ""}}/>
        <lable>{{ c[0] }}</lable>
        {% set i = i + 1 %}
      </div>
    {% endfor %}
    <input name="" type="submit" value="Сохранить"/>
  </form>
{% endblock %}
