{% extends "/pattern.html" %}

{% block content %}
  <lable>Здесь можно войти</lable>
  <form action="/login" method="POST">
    <lable>Логин</lable>
    <input name="login" type="text" value=""/>
    </br>
    <lable>Пароль</lable>
    <input name="password" type="text" value=""/>
    </br>
    <input name="" type="submit" value="Войти"/>
  </form>
{% endblock %}
