<!DOCTYPE html>
<html lang="ru/en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/sheet.css">
    <title>MyVeryFirstProject</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="/"><img src="/css/images/logo.png"/></a>
      </div>
      <div class="navbar">
        <ul class="dropdown">
          <li class="dropdown-top">
            <a class="dropdown-top" href="/"> General </a>
          </li>
          {# profile #}
          {% if logined == True %}
            <li class="dropdown-top">
              <a class="dropdown-top" href="/profile">Profile</a>
              <ul class="dropdown-inside">
                <li> <a href="/interests"> My interests </a> </li>
                <li> <a href="/recommendation"> Reccomendations </a> </li>
              </ul>
            </li>
          {% endif %}
          <li class="dropdown-top">
            {% if logined == False %}
              <a class="dropdown-top" href="/register"> Register </a>
            {% endif %}
          </li>
          {# login/logout #}
          <li class="dropdown-top">
            {% if logined == False %}
              <a class="dropdown-top" href="/loginpage"> Log in </a>
            {% else %}
              <a class="dropdown-top" href="/logout"> Log out </a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
    <div class="help">
    </div>
    <div class="content">
      {% block content-%}
      {%- endblock %}
    </div>
    <div class="footer">
      <div class="links">
        <p> Follow us on: </p>
        <p>
          <a href="http://vk.com/alexander_proskuryakov"> Vk </a>
          <a href="http://www.facebook.com/profile.php?id=100004447115917"> Facebook </a>
          <a href="http://twitter.com/Alexander_Pros"> Twitter </a>
        </p>
      </div>
      <div class="copyright">
        <p> @Copyright - All rights reserved</p>
      </div>
    </div>
  </body>
</html>
