{% extends "/pattern.html" %}
{% block content %}
	<lable><h2>Здесь можно посмотреть свой профиль</h2></lable>
  <div>
    <div>
      <lable>Login: </lable>
      <lable>{{ login }}</lable>
      <br/>
    </div>
    <div>
      <lable>Password: </lable>
      <lable>{{ password }}</lable>
      <br/>
    </div>
  </div>
  <h3>Посещенные страны</h3>
  {% for i in visited %}
    <div>{{ i }}</div>
  {% endfor %}
{% endblock %}
