{% extends "/pattern.html" %}
{% block content %}
  <h2>Ознакомьтесь с рейтингом стран, которые мы хотим Вам предложить в соответствии с Вашими интересами.</h2>
  {% for r in rec %}
    <div>{{ r }}</div>
  {% endfor %}
{% endblock %}
