{% extends "/pattern.html" %}

{% block content %}
  <lable><strong>Регистрация</strong></lable>
  <form action="/adduser" method="POST">
    <lable><strong>Введите логин</strong></lable>
    <input name="login" type="text" value=""/>
    </br>
    <lable><strong>Введите пароль</strong></lable>
    <input name="password" type="text" value=""/>
    </br>
    <input name="" type="submit" value="Зарегистрироваться"/>
  </form>
{% endblock %}
