html {
	font-family: sans-serif;
}

body {
	background: gray;
	margin: 0px;
}

div.header {
    z-index: 2;
	display: block;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 120px;
	width: 100%;
	margin: 0px;
	background: black;
}

div.logo {
	height: 100px;
	width: 300px;
	position: absolute;
	top: 10px;
	left: 20px;
}

div.navbar {
	height: 100px;
	position: absolute;
	top: 25px;
	right: 30px;
	font-size: 20px;
	color: white;
}

.navbar a {
	color: white;
	text-decoration: none;
}

.navbar a:hover { text-decoration: underline; }

div.help {
	z-index: -1;
	position: absolute;
	top: 120px;
	right: 40px;
	bottom: 60px;
	left: 40px;
	background-color: white;
}

div.content {
	position: relative;
	margin: 0px 40px 0px 40px;
	padding: 120px 20px 60px 20px;
	background-color: white;
	z-index: 0;
}

div.footer{
    z-index: 2;
	position: fixed;
	bottom: 0px;
	right: 0px;
	left: 0px;
	height: 60px;
	width: 100%;
	background: black;
	font-size: 10px;
	color: grey;
}

div.links {
	position: absolute;
	left: 30px;
	top: 5px;
}

.links a {
	color: grey;
	text-decoration: none;
}

.links a:hover {
	text-decoration: underline;
}

div.copyright {
	position: absolute;
	bottom: 5px;
	right: 20px;
}

ul.dropdown li { 
	position: relative;
	background: black;
}

ul.dropdown, ul.dropdown-inside {
	list-style-type: none;
	padding: 0;
}

ul.dropdown-inside {
	position: absolute;
	left: -9999px;
}

ul.dropdown li.dropdown-top {
 	display: inline;
 	float: left;
 	margin: 0 1px 0 0;
}

ul.dropdown li.dropdown-top a {
	padding: 3px 10px 4px;
 	display: block;
}

/*
ul.dropdown a.dropdown-top { 
	background: #efefef; 
}
*/

ul.dropdown a.dropdown-top:hover { 
	padding: 2px 10px 5px; 
}

ul.dropdown li.dropdown-top:hover .dropdown-inside {
	display: block;
 	left: 0;
}

/*
ul.dropdown .dropdown-inside { background: #fff; }

ul.dropdown .dropdown-inside a:hover { background: #efefef; }
*?

